<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69807952747-1104kajcfko5lvvir9bgnoljggaq5pj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69807952747-1104kajcfko5lvvir9bgnoljggaq5pj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkWaTEt9xIWjkxqT6wzUDTnTmqhIkBVM</string>
	<key>GCM_SENDER_ID</key>
	<string>69807952747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ComputerCell</string>
	<key>PROJECT_ID</key>
	<string>computercell-7da08</string>
	<key>STORAGE_BUCKET</key>
	<string>computercell-7da08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69807952747:ios:9769f539a8a89c1d38722e</string>
	<key>DATABASE_URL</key>
	<string>https://computercell-7da08.firebaseio.com</string>
</dict>
</plist>